BigDataAgent.sources =  SeqSource  
BigDataAgent.channels = MemChannel1 MemChannel2
BigDataAgent.sinks = HDFS Kafka


BigDataAgent.sources.SeqSource.type = seq

BigDataAgent.sinks.HDFS.channel = MemChannel1
BigDataAgent.sinks.HDFS.type = hdfs
BigDataAgent.sinks.HDFS.hdfs.path = hdfs://master:8020/user/flume/tweets/%Y/%m/%d/%H/
BigDataAgent.sinks.HDFS.hdfs.fileType = DataStream
BigDataAgent.sinks.HDFS.hdfs.writeFormat = Text
BigDataAgent.sinks.HDFS.hdfs.batchSize = 1000
BigDataAgent.sinks.HDFS.hdfs.rollSize = 0
BigDataAgent.sinks.HDFS.hdfs.rollCount = 10000

BigDataAgent.sinks.Kafka.channel = MemChannel2
BigDataAgent.sinks.Kafka.type = org.apache.flume.sink.kafka.KafkaSink
BigDataAgent.sinks.Kafka.topic = tweetsTopic
BigDataAgent.sinks.Kafka.batchSize = 20
BigDataAgent.sinks.Kafka.brokerList = master:9092

BigDataAgent.channels.MemChannel1.type = memory
BigDataAgent.channels.MemChannel1.capacity = 10000
BigDataAgent.channels.MemChannel1.transactionCapacity = 200

BigDataAgent.channels.MemChannel2.type = memory
BigDataAgent.channels.MemChannel2.capacity = 10000
BigDataAgent.channels.MemChannel2.transactionCapacity = 200


BigDataAgent.sources.SeqSource.channels = MemChannel1
